.container{
    color: white;
    background-image: url("../../images/wallpaperbetter.jpg");
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
}

.textContainer{
    background-color: #00d5ffa2;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}