.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  }
  
  .navBar {
    width: 100%;
    position: fixed;
    background-color: #131313;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden; /* Ajuste */
  }
  
  .navBarLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap; /* Ajuste */
  }
  
  .btn {
    text-decoration: none;
    color: #1ea8c3;
    height: 100%;
    margin: 0 10px;
    text-align: center;
    padding: 2vh;
    flex-shrink: 0; /* Ajuste */
  }
  
  .btn:hover {
    background-color: #1ea8c3;
    color: black;
  }
  
  .shoppingCart {
    padding: 2vh;
    margin: 0 10px;
    background: transparent;
    color: #1ea8c3;
    border: none;
    cursor: pointer;
  }
  
  #logo {
    margin-left: 10px;
    width: 7vh;
    height: auto;
  }
  
  .shoppingCart:hover {
    background-color: #1ea8c3;
    color: #131313;
  }
  